PROJECT_NAME=tests_action

ACTION_HOST=tests_action_action
ACTION_PORT=8998

ACCESS_TOKEN_SECRET_KEY=256-bit-secret-key-1
TOKEN_ALGORITHM=HS256

DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100

MONGODB_URL=mongodb://tests_action_mongos1:27017, tests_action_mongos2:27017
MONGODB_DB=actionsDb
MONGODB_COLL_LIKES=likes
MONGODB_COLL_REVIEWS=reviews
MONGODB_COLL_BOOKMARKS=bookmarks
MONGODB_LOCAL_URL=mongodb://0.0.0.0:27019, 0.0.0.0:27020